@{
    Layout = "_Layout";
}
<tr>
    <td class="table-headers">1         </td>
    <td class="table-headers">@ViewBag.vin</td>
    <td class="table-headers">@ViewBag.Type</td>
    <td class="table-headers">@ViewBag.MainLine</td>
    <td class="table-headers">@ViewBag.EnterBIW</td>
    <td class="table-headers">@ViewBag.BIW</td>
    <td class="table-headers">@ViewBag.MetalFinish</td>
    <td class="table-headers">@ViewBag.EnterPaint</td>
    <td class="table-headers">@ViewBag.Primer</td>
    <td class="table-headers">@ViewBag.TopCoat</td>
    <td class="table-headers">@ViewBag.ExitPaint</td>
    <td class="table-headers">@ViewBag.EnterTrim</td>
    <td class="table-headers">@ViewBag.ExitChassis</td>
    <td class="table-headers">@ViewBag.FinalTrim</td>
    <td class="table-headers">@ViewBag.ExitTrim</td>
</tr>

@section Jadval2 {

    <tr>
        <td class="table-headers">1         </td>
        <td class="table-headers">@ViewBag.vin</td>
        <td class="table-headers">@ViewBag.Type</td>
        <td class="table-headers">@ViewBag.MainLine</td>
        <td class="table-headers">@ViewBag.EnterBIW</td>
        <td class="table-headers">@ViewBag.BIW</td>
        <td class="table-headers">@ViewBag.MetalFinish</td>
        <td class="table-headers">@ViewBag.EnterPaint</td>
        <td class="table-headers">@ViewBag.Primer</td>
        <td class="table-headers">@ViewBag.TopCoat</td>
        <td class="table-headers">@ViewBag.ExitPaint</td>
        <td class="table-headers">@ViewBag.EnterTrim</td>
        <td class="table-headers">@ViewBag.ExitChassis</td>
        <td class="table-headers">@ViewBag.FinalTrim</td>
        <td class="table-headers">@ViewBag.ExitTrim</td>
    </tr>

}